<div class="container py-3">
  <div class="row justify-content-between">
    <div class="col-lg-4 col-md-12">
      <div class="shadow p-3 mb-5 bg-white sticky-top" style="border-radius: 12px; top: 20px;">
        <h4><%= @user_name %></h4>
        <div class="user-confidentials">
          <div data-controller="confidentials">
            <label for="email">Email</label>
            <div class="confidential-box">
              <input data-confidentials-target="input" type="password" name="email" id="email" value=<%= @user.email %> disabled>            
              <span data-action="click->confidentials#eyeToggle">
                <i class="fa-solid fa-eye-slash"></i>
              </span>
            </div>
            <span data-action="click->confidentials#clipboardCopy">
              <i class="fa-solid fa-clipboard"></i>
            </span>
          </div>
          <div data-controller="confidentials">
            <label for="api_key">Api Key</label>
            <div class="confidential-box">
              <input data-confidentials-target="input" type="password" name="api_key" id="api-key" value=<%= @user.authentication_token %> disabled>
              <span data-action="click->confidentials#eyeToggle">
                <i class="fa-solid fa-eye-slash"></i>
              </span>
            </div>
            <span data-action="click->confidentials#clipboardCopy">
              <i class="fa-solid fa-clipboard"></i>
            </span>
          </div>
          <%= link_to "Reset Api Key", reset_api_path, method: :post, remote: true, class: "btn btn-sm btn-warning", data: { confirm: "Are you sure you want to reset your api key?"} %>
        </div>
        
      </div>
      <div class="shadow p-3 mb-5 bg-white" style="border-radius: 12px; top: 20px;">
        <div class="d-flex justify-content-between">
          <strong>Your Domain</strong>
          <div class="form-check form-switch" data-controller="dev-toggle">
            <%= check_box_tag "flexSwitchCheckChecked", true, @user.test, class: "form-check-input", "data-action": "click->dev-toggle#toggle", role: "switch" %>
            <label class="form-check-label" for="flexSwitchCheckChecked">Development</label>
          </div>
        </div>
        <code>
          <p class="p-2 bg-light mt-2"><%= @user.domain.empty? ? "Please, setup your Domain." : @user.domain %></p>
        </code>
        <button type="button" class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#changeDomain"><%= @user.domain.empty? ? "Set my Domain." : "Change my Domain" %></button>
        <%# Modal Body %>
        <div class="modal fade" id="changeDomain" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Domain Setup For <%= @user_name %></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <%= simple_form_for(@user, url: user_registration_path, html: { method: :put }) do |f| %>
                  <%= f.error_notification %>

                  <div class="form-inputs">

                    <%= f.input :domain,
                                hint: (@user.domain.empty? ? "Please, add your domain" : "You can change your domain"),
                                required: false,
                                input_html: { autocomplete: "domain" } %>
                    <%= f.input :current_password,
                                hint: "we need your current password to confirm your changes",
                                required: true,
                                input_html: { autocomplete: "current-password" } %>
                  </div>

                <div class="modal-footer">
                  <div class="form-actions">
                    <%= f.button :submit, "Update Domain", class: "btn btn-sm btn-warning" %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 col-md-12">
      <%# BLOG CODE %>
      <div class=" border shadow p-3 mb-5 bg-white" style="border-radius: 12px;">
        <h3 style="color: gray;">Blogs</h3>
        <div class="fetch-code p-3 bg-light rounded">
          <code>
            fetch('https://www.dynamism.com/api/v1/blogs', {<br>
              &#160;referrerPolicy: 'origin-when-cross-origin',<br>
              &#160;headers: {<br>
                &#160; 'Content-Type': 'application/json',<br>
                &#160; 'X-User-Email': < EMAIL >, <br>
                &#160; 'X-User-Token': < API_KEY >, <br> 
              &#160;}<br>
            }).then(response => response.json())<br>
            .then(data => console.log(data))<br>  
          </code>
        </div>
      </div>
      <%# ALBUM CODE %>
      <div class=" border shadow p-3 mb-5 bg-white" style="border-radius: 12px;">
        <h3 style="color: gray;">Blogs</h3>
        <div class="fetch-code p-3 bg-light rounded">
          <code>
            # All Albums<br>
            fetch('https://www.dynamism.com/api/v1/albums', {<br>
              &#160;referrerPolicy: 'origin-when-cross-origin',<br>
              &#160;headers: {<br>
                &#160; 'Content-Type': 'application/json',<br>
                &#160; 'X-User-Email': < EMAIL >, <br>
                &#160; 'X-User-Token': < API_KEY >, <br> 
              &#160;}<br>
            }).then(response => response.json())<br>
            .then(data => console.log(data))<br>  
          </code>
        </div>
        <div class="fetch-code p-3 bg-light rounded">
          <code>
            # Single Album<br>
            fetch('https://www.dynamism.com/api/v1/albums/< album title >', {<br>
              &#160;referrerPolicy: 'origin-when-cross-origin',<br>
              &#160;headers: {<br>
                &#160; 'Content-Type': 'application/json',<br>
                &#160; 'X-User-Email': < EMAIL >, <br>
                &#160; 'X-User-Token': < API_KEY >, <br> 
              &#160;}<br>
            }).then(response => response.json())<br>
            .then(data => console.log(data))<br>  
          </code>
        </div>
      </div>
    </div>
  </div>
</div>  
