<div class="container">
  <div class="">
    <%= link_to "new album", new_album_path, class: "btn btn-sm btn-block btn-primary" %>
  </div>

  
  <% @albums&.each do |album| %>
    <div class="container p-3 m-2">
      <h3><%= album.title %></h3>
      <h5> <%= link_to "edit", edit_album_path(album), class: "btn btn-warning btn-sm" %> </h5>
      <h5> <%= link_to "delete", album_path(album), method: :delete, class: "btn btn-danger btn-sm" %> </h5>
      <% album.albumPhotos.each do |albumPhoto| %>
         <%= albumPhoto.photo %>
        <%= image_tag albumPhoto.image_url, height: "200px", alt: "image" %>        
      <% end %>
    </div>
  <% end %>
  


</div>